.Container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    flex-basis: 100%;
    text-align: left;
  }
  
  input, select {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button[type='button']:first-of-type {
    background-color: #003F62;
    color: white;
  }
  
  button[type='button']:last-of-type {
    background-color: #003F62;
    color: white;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  form div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  